<form [formGroup]="formGroup" novalidate tabindex="0">
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo de uso básico" formControlName="item"></input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo com valor inicial" formControlName="itemComValor"></input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo com placeholder" formControlName="itemComPlaceholder" placeholder="Placeholder aqui..."></input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo desabilitado" formControlName="itemDesabilitado"></input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo readonly" formControlName="itemReadonly" [readonly]="true"></input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo item obrigatório" formControlName="itemObrigatorio"></input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo com valor mínimo" formControlName="itemComValorMinimo"></input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo com valor máximo" formControlName="itemComValorMaximo"></input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo com 'ajuda preenchida'" formControlName="itemComAjuda">
      <span help class="form-help text-info" title="Seu conteúdo de ajuda aqui">?</span>
    </input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo com prepend" formControlName="itemComPrepend">
      <span prepend class="input-group-text">@</span>
    </input-number>
  </div>
  <div class="row mb-2">
    <input-number class="col-12" label="Exemplo com append" formControlName="itemComAppend">
      <span append class="input-group-text">@</span>
    </input-number>
  </div>
</form>
<div class="row m-5 card"><code><pre>{{ formGroup.value | json}}</pre></code></div>
