<main class="container">
  <h1>Exemplo de uso inputs</h1>

  <div class="tab tab-start">
    <ul class="tab-nav">
      <li class="nav-item" [ngClass]="{'active': activeTab === 'number'}">
        <a class="nav-link" routerLink="/examples/inputs/number">input-number</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'text'}">
        <a class="nav-link" routerLink="/examples/inputs/text">input-text</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'text-area'}">
        <a class="nav-link" routerLink="/examples/inputs/text-area">input-text-area</a>
      </li>
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
