<main class="container">
  <h1>Exemplo de uso inputs</h1>



  <div class="tab tab-start">
    <ul class="tab-nav">
      <li class="nav-item" [ngClass]="{'active': activeTab === 'checkbox'}">
        <a class="nav-link" routerLink="/examples/inputs/checkbox">input-checkbox</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'code-editor'}">
        <a class="nav-link" routerLink="/examples/inputs/code-editor">input-code-editor</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'date'}">
        <a class="nav-link" routerLink="/examples/inputs/date">input-date</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'email'}">
        <a class="nav-link" routerLink="/examples/inputs/email">input-email</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'file'}">
        <a class="nav-link" routerLink="/examples/inputs/file">input-file</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'number'}">
        <a class="nav-link" routerLink="/examples/inputs/number">input-number</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'password'}">
        <a class="nav-link" routerLink="/examples/inputs/password">input-password</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'radio'}">
        <a class="nav-link" routerLink="/examples/inputs/radio">input-radio</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'select-item'}">
        <a class="nav-link" routerLink="/examples/inputs/select-item">input-select-item</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'switch'}">
        <a class="nav-link" routerLink="/examples/inputs/switch">input-switch</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'text'}">
        <a class="nav-link" routerLink="/examples/inputs/text">input-text</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'text-area'}">
        <a class="nav-link" routerLink="/examples/inputs/text-area">input-text-area</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'text-editor'}">
        <a class="nav-link" routerLink="/examples/inputs/text-editor">input-text-editor</a>
      </li>
      <li class="nav-item" [ngClass]="{'active': activeTab === 'url'}">
        <a class="nav-link" routerLink="/examples/inputs/url">input-url</a>
      </li>
    </ul>
    <div class="tab-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>
