<div class="form-group input-container input-text-editor"
  [formGroup]="formGroup"
  [ngClass]="{'is-invalid': isInvalid(), 'is-valid': isValid()}"
  >
  <div class="label-group">
    <label class="form-label" [for]="formControlName">{{label}}:<sup class="text-danger input-required" *ngIf="isRequired" title="Este campo é obrigatório">*</sup></label>
    <span class="input-help"><ng-content select="[help]"></ng-content></span>
  </div>
  <div class="input-group has-validation">
    <div><quill-editor #input [formControlName]="formControlName"
      [id]="formControlName"
      [ngClass]="{'is-invalid': isInvalid(), 'is-valid': isValid()}"
      [modules]="modules"></quill-editor></div>
  </div>
  <invalid-feedback [control]="control"></invalid-feedback>
</div>
