<div class="form-group input-container input-text"
  [formGroup]="formGroup"
  [ngClass]="{'is-invalid': isInvalid(), 'is-valid': isValid()}"
  >
  <div class="label-group">
    <label class="form-label" [for]="formControlName">{{label}}:<sup class="text-danger input-required" *ngIf="isRequired" title="Este campo é obrigatório">*</sup></label>
    <span class="input-help"><ng-content select="[help]"></ng-content></span>
  </div>
  <div class="input-group has-validation">
    <ng-content select="[prepend]"></ng-content>
    <input type="file" class="form-control" autocomplete="off"
      #input
      [formControlName]="formControlName"
      [id]="formControlName" [name]="formControlName"
      [ngClass]="{'is-invalid': isInvalid(), 'is-valid': isValid()}"
      [readonly]="readonly"
      [placeholder]="placeholder" />
    <ng-content select="[append]"></ng-content>
  </div>
  <invalid-feedback [control]="control"></invalid-feedback>
</div>
