<form [formGroup]="formGroup" novalidate tabindex="0">
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo de uso básico" formControlName="item"></input-checkbox>
  </div>
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo com valor inicial" formControlName="itemComValor"></input-checkbox>
  </div>
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo com placeholder" formControlName="itemComPlaceholder" placeholder="Placeholder aqui..."></input-checkbox>
  </div>
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo desabilitado" formControlName="itemDesabilitado"></input-checkbox>
  </div>
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo readonly" formControlName="itemReadonly" [readonly]="true"></input-checkbox>
  </div>
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo item obrigatório" formControlName="itemObrigatorio"></input-checkbox>
  </div>
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo inline false" formControlName="itemInline" [inline]="false"></input-checkbox>
  </div>
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo reverse" formControlName="itemReverse" [reverse]="true"></input-checkbox>
  </div>
  <div class="row mb-2">
    <input-checkbox class="col-12" [items]="items" label="Exemplo com 'ajuda preenchida'" formControlName="itemComAjuda">
      <span help class="form-help text-info" title="Seu conteúdo de ajuda aqui">?</span>
    </input-checkbox>
  </div>
</form>
<div class="row m-5 card"><code><pre>{{ formGroup.value | json}}</pre></code></div>
