<div class="form-group input-container input-code-editor"
  [formGroup]="formGroup"
  [ngClass]="{'is-invalid': isInvalid(), 'is-valid': isValid()}"
  >
  <div class="label-group">
    <label class="form-label" [for]="formControlName">{{label}}:<sup class="text-danger input-required" *ngIf="isRequired" title="Este campo é obrigatório">*</sup></label>
    <span class="input-help"><ng-content select="[help]"></ng-content></span>
  </div>
  <div class="input-group has-validation">
    <div class="editor-container">
      <ngx-monaco-editor [options]="options" [formControlName]="formControlName"
      #input
      [formControlName]="formControlName"
      [ngClass]="{'is-invalid': isInvalid(), 'is-valid': isValid()}"></ngx-monaco-editor>
    </div>
  </div>
  <invalid-feedback [control]="control"></invalid-feedback>
</div>
