<form [formGroup]="formGroup" novalidate tabindex="0">
  <div class="row mb-2">
    <input-code-editor class="col-12" label="Exemplo de uso básico" formControlName="item"></input-code-editor>
  </div>
  <div class="row mb-2">
    <input-code-editor class="col-12" label="Exemplo com valor inicial" formControlName="itemComValor"></input-code-editor>
  </div>
  <div class="row mb-2">
    <input-code-editor class="col-12" label="Exemplo desabilitado" formControlName="itemDesabilitado"></input-code-editor>
  </div>
  <div class="row mb-2">
    <input-code-editor class="col-12" label="Exemplo readonly" formControlName="itemReadonly" [readonly]="true"></input-code-editor>
  </div>
  <div class="row mb-2">
    <input-code-editor class="col-12" label="Exemplo item obrigatório" formControlName="itemObrigatorio"></input-code-editor>
  </div>
  <div class="row mb-2">
    <input-code-editor class="col-12" label="Exemplo com tamanho mínimo" formControlName="itemComTamanhoMinimo"></input-code-editor>
  </div>
  <div class="row mb-2">
    <input-code-editor class="col-12" label="Exemplo com tamanho máximo" formControlName="itemComTamanhoMaximo"></input-code-editor>
  </div>
  <div class="row mb-2">
    <input-code-editor class="col-12" label="Exemplo com 'ajuda preenchida'" formControlName="itemComAjuda">
      <span help class="form-help text-info" title="Seu conteúdo de ajuda aqui">?</span>
    </input-code-editor>
  </div>
</form>
<div class="row m-5 card"><code><pre>{{ formGroup.value | json}}</pre></code></div>
