<div class="wrapper">
  <header class="header">
    <nav class="navbar navbar-top bg-body-tertiary bg-navbar-top">
      <div class="container-fluid">
        <div class="nav-left">
          <a class="navbar-brand" href="/"><img src="assets/image/logo.svg" width="27" /><span class="ms-3">POC Angular</span></a>
        </div>
        <div class="nav-center"></div>
        <div class="nav-right"></div>
      </div>
    </nav>
  </header>

  <div class="content m-3"><router-outlet></router-outlet></div>
</div>
