.app-header {
  background-color: var(--app-header-background-color);
  border-bottom: var(--bs-border-color-translucent) var(--bs-border-width) solid;
}

.nav-end {
  --theme-switcher-toggle-bg: rgba(255, 204, 133, 0.24);
  --theme-switcher-toggle-hover-bg: #e5780b;
  --theme-switcher-toggle-color: #e5780b;
  --theme-switcher-toggle-hover-color: #fff6e0;

  margin-right: 0.5rem;

  .navbar-nav-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    .theme-switcher {
      width: 40px;
      height: 40px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      border: 0;
      border-radius: 50%;
      background-color: var(--theme-switcher-toggle-bg);
      color: var(--theme-switcher-toggle-color);
    }

    .theme-switcher:hover {
      background-color: var(--theme-switcher-toggle-hover-bg);
      color: var(--theme-switcher-toggle-hover-color);
    }

    .other-systems {
      border: 0;
      background-color: transparent;
      opacity: 0.6;
    }

    .other-systems:hover {
      opacity: 1;
    }

    .avatar {
      border: 0;
      background-color: transparent;
    }

    .avatar img {
      -o-object-fit: cover;
      object-fit: cover;
      border-radius: 50%;
      width: 40px;
      height: 40px;
    }
  }
}

.dropdown-user-area {
  min-width: 18.3125rem;

  .nav .nav-link {
    --bs-nav-link-color: #222834;
    --bs-nav-link-hover-color: #000000;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    font-weight: 600;

    &:hover {
      background-color: #eff2f6;
    }
  }
}

.dropdown-other-systems {
  min-width: 15.375rem;

  .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    align-items: flex-end;
    gap: 2rem;

    .item {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      text-decoration: none;
      color: var(--bs-body-color);

      &:hover {
      }

      img {
        width: 2rem;
        max-width: 2rem;
      }

      span {
        font-size: 0.6rem;
        opacity: 0.5;
      }

      &:hover span {
        opacity: 1;
      }
    }
  }
}
