<form [formGroup]="formGroup" novalidate tabindex="0">
  <div class="row mb-2">
    <input-switch class="col-12" label="Exemplo de uso básico" formControlName="item" [labelOn]="'True value'" [labelOff]="'False value'"></input-switch>
  </div>
  <div class="row mb-2">
    <input-switch class="col-12" label="Exemplo com valor inicial" formControlName="itemComValor" [labelOn]="'True value'" [labelOff]="'False value'"></input-switch>
  </div>
  <div class="row mb-2">
    <input-switch class="col-12" label="Exemplo desabilitado" formControlName="itemDesabilitado" [labelOn]="'True value'" [labelOff]="'False value'"></input-switch>
  </div>
  <div class="row mb-2">
    <input-switch class="col-12" label="Exemplo readonly" formControlName="itemReadonly" [readonly]="true" [labelOn]="'True value'" [labelOff]="'False value'"></input-switch>
  </div>
  <div class="row mb-2">
    <input-switch class="col-12" label="Exemplo item obrigatório" formControlName="itemObrigatorio" [labelOn]="'True value'" [labelOff]="'False value'"></input-switch>
  </div>
  <div class="row mb-2">
    <input-switch class="col-12" label="Exemplo reverse" formControlName="itemReverse" [labelOn]="'True value'" [labelOff]="'False value'" [reverse]="true"></input-switch>
  </div>
  <div class="row mb-2">
    <input-switch class="col-12" label="Exemplo com 'ajuda preenchida'" formControlName="itemComAjuda" [labelOn]="'True value'" [labelOff]="'False value'">
      <span help class="form-help text-info" title="Seu conteúdo de ajuda aqui">?</span>
    </input-switch>
  </div>
</form>
<div class="row m-5 card"><code><pre>{{ formGroup.value | json}}</pre></code></div>
